<div class="lot__details item-{{ count }}" data-id="{{ count }}">
    <h3 class="item">Item {{ count }}</h3>
    <div class="input__wrapper input__wrapper--labelize">
        <input type="text" class="input--text input--labelize input--item item--data" data-type="name" />
        <label for="" class="input__label label--labelize">Item</label>
    </div>
    <div class="input__wrapper input__wrapper--labelize">
        <input type="text" class="input--text input--labelize input--number item--data" data-type="number" />
        <label for="" class="input__label label--labelize">Item Count</label>
    </div>
    <div class="input__wrapper input__wrapper--labelize">
        <input type="text" class="input--text input--labelize input--estimate item--data" data-type="estimate" />
        <label for="" class="input__label label--labelize">Sellable Items</span></label>
    </div>
    <div class="input__wrapper input__wrapper--labelize">
        <input type="text" class="input--text input--labelize input--price item--data" data-type="price" />
        <label for="" class="input__label label--labelize">Price</span></label>
    </div>
    <div class="input__wrapper input__wrapper--remember flex-parent__center-cross flex-parent__flex-end">
        <p class="checkbox__label input__label flex-child__auto styled-p">Use Discount</p>
        <input id="useDiscount-{{ count }}" type="checkbox" class="checkbox__input" data-type="useDiscount" checked>
        <label for="useDiscount-{{ count }}" class="checkbox__graphic flex-child__auto"></label>
    </div>
    <div class="input__wrapper input__wrapper--labelize">
        <input type="text" class="input--text input--labelize input--price item--data" data-type="actualPrice" disabled />
        <label for="" class="input__label label--labelize">Actual Price</span></label>
    </div>
    <div class="input__wrapper input__wrapper--labelize">
        <input type="text" class="input--text input--labelize input--shipping item--data" data-type="shipping" />
        <label for="" class="input__label label--labelize">Shipping</label>
    </div>
</div>
